/* Just change this values into your own */

/* :root {
    --body-font-color: value;
    --body-font-family: value;
    --body-font-size: value;
	--main-background-color: value;
    --col-left-width: value;
    --col-right-width: value;
    --highlight-color: value;
    --input-background-color: value;
    --input-text-align: value;
    --input-bottom-border-color: gvalue;
    --submit-font-color: value;
    --submit-background-color: value;
    --submit-hover-background-color: value;
}
 */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-size: var(--body-font-size);
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
    font-family: var(--body-font-family);
}

.container {
    background-color: var(--container-background-color);
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.title_header {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.title_header h2 {
    font-size: 1.05em;
    font-weight: bold;
}

.title_header p {
    font-size: 0.9em;
}

#main-form, #main_div {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13px 0;
}

.col-left {
    width: var(--col-left-width);
}

.col-right {
    width: var(--col-right-width);
}

.col-center {
    width: 100%;
}

.right {
    text-align: right;
}

.right span {
    color:  var(--highlight-color);
}

input[type=text],
input[type=number],
input[type=date]{
    width: 100%;
    padding: 5px 10px;
    background-color: var(--input-background-color);
    text-align: var(--input-text-align);
    border: none;
    border-bottom: 3px solid var(--input-background-color);
    outline: none;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=date]:focus{
    border-bottom: 3px solid var(--input-bottom-border-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=submit], #back {
    width: 100%;
    color: var(--submit-font-color);
    background-color: var(--submit-background-color);
    padding: 15px 0;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: .2s ease-in-out;
}

input[type=submit]:hover, #back:hover {
    background-color: var(--submit-hover-background-color);
}
